<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EPSSEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EPSSEditor.Properties.Settings>
            <setting name="SampleConversionDestFreq" serializeAs="String">
                <value>25033</value>
            </setting>
            <setting name="ProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SpiFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SfzFile" serializeAs="String">
                <value />
            </setting>
            <setting name="WinLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WinState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WinSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </EPSSEditor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
