<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EPSSEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EPSSEditor.Properties.Settings>
            <setting name="SampleConversionDestFreq" serializeAs="String">
                <value>25033</value>
            </setting>
            <setting name="ProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SpiFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SfzFile" serializeAs="String">
                <value />
            </setting>
            <setting name="WinLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WinState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WinSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpiExportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SfzExportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MidFile" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreVersion" serializeAs="String">
                <value />
            </setting>
        </EPSSEditor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NAudio.Core" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
